@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image:url(img/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}

.container{
    width:450px;
    margin:10% auto;
}

.forgot-section {
    background: #ffff0040;
    padding: 40px;
    box-sizing:border-box;
}

.forgot-section h2{
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
    color:white;
}

.forgot-section p{
    font-size:12px;
    margin-bottom:10px;
    color:white;
}
.form-control {
    width: 93%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.signup-btn{
    display:block;
    margin:0 auto;
    padding: 7px 20px;
    color: white;
    background: #ffff0042;
    border-radius: 23px;
    margin-top: 10px;
    cursor:pointer;
    transition:.3s ease;
}

.signup-btn:hover{
    background:black;
    color:white;
}

.btn{
    text-decoration:none;
}